.holiday {
  margin: 1rem;
  padding: 1rem;
  background-color: #1a2238;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.holiday h2 {
  font-size: 2rem;
  color: #ff6a3d;
}

.holiday h3 {
  color: #f4db7d;
  margin: 0;
  font-size: 1rem;
}
